:root {
  --background: #dbdbdb;
  --foreground: #171717;

  --light-blue: #0096c5;
  --dark-blue: #00457d;

  --hyperlink: var(--dark-blue);

  --body-margins: 10vw;
  --header-margin: 4rem;

  --blue-gradient: linear-gradient(40deg, var(--dark-blue), var(--light-blue));
}

@media (max-width: 1200px) {
  :root {
    --body-margins: 5vw;
    --header-margin: 2rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  font-family: "Mona Sans", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: grid;
  gap: 5rem;
  padding-block: 2rem;
}

button {
  font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

@layer fonts {
  @font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona-sans.woff2") format("woff2 supports variations"),
      url("../fonts/mona-sans.woff2") format("woff2 variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
}
